*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:#FFF8E7;

color:#4A2C1B;

}



/* Navbar */


nav{


height:80px;

background:#5C3D2E;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

color:white;


}



.logo{

font-size:24px;

font-weight:600;

}


.nav-links{

display:flex;

gap:35px;

}


.nav-links a{

color:#FFF8E7;

text-decoration:none;

}



.login-btn{


background:#D4A373;

border:none;

padding:12px 30px;

border-radius:25px;

color:white;

font-size:15px;


}






/* Hero */


.hero{


display:flex;

justify-content:space-around;

align-items:center;

padding:70px 10%;


}



.hero-content{

width:50%;

}


.tag{


background:#E6D5B8;

padding:10px 20px;

border-radius:30px;

}



h1{


font-size:55px;

margin:25px 0;

color:#4A2C1B;


}



.hero p{


font-size:18px;

line-height:1.7;

color:#6b5548;


}



.main-btn{


margin-top:30px;

padding:15px 35px;

background:#8B5E3C;

border:none;

color:white;

border-radius:30px;

font-size:18px;


}




.hero-box{


font-size:80px;

background:#FFFCF5;

padding:50px;

border-radius:40px;

box-shadow:0 10px 30px #ddc9aa;


}






/* Container */


.container{


width:850px;

margin:auto;


}





.card{


background:#FFFCF5;

padding:30px;

border-radius:25px;

margin:25px 0;


box-shadow:
0 8px 25px rgba(92,61,46,.15);


}



.card h2{

color:#5C3D2E;

margin-bottom:20px;

}



.input-row{


display:flex;

gap:30px;

}


.input-row div{

width:50%;

}




input,
select,
textarea{


width:100%;

padding:14px;

margin-top:8px;

border-radius:12px;

border:1px solid #D4A373;

background:white;


}







.food-grid{


display:grid;

grid-template-columns:1fr 1fr;

gap:15px;


}





.food-card{


background:#FFF8E7;

padding:18px;

border-radius:18px;

display:flex;

align-items:center;

gap:10px;


border:1px solid #E6D5B8;


}


.food-card:hover{

border-color:#8B5E3C;

}





.quantity{


width:80px!important;

padding:8px!important;


}






textarea{

height:120px;

resize:none;

}





.submit-btn{


width:100%;

padding:16px;

background:#8B5E3C;

color:white;

border:none;

border-radius:30px;

font-size:18px;


}




@media(max-width:900px){


.hero{

flex-direction:column;

}


.hero-content{

width:100%;

}


.container{

width:90%;

}


.food-grid{

grid-template-columns:1fr;

}


}